*
{
padding:0;
margin:0;
border:0;
}

#main
{
width:100%;
height:100%;
}

#Name
{
text-align:center;
color:#31694E;
margin-top:10px;
}

#addBtnContainer
{
display:flex;
align-items:center;
justify-content: center;
height:10%;
margin-top:10px;
}
#toDos,#done
{
margin-top:20px;
margin-left:10px;
margin-right:10px;
color:#31694E;
transition:1ms;
background-color:#B0CE88;
border:2px solid ;
border-radius:20px;
padding:0.5rem;
}
 
h3{
background-color:#31694E;
color:#B0CE88;
border-radius:20px;
}